<div *ngIf="workoutplan">
    <h3>Workoutplan Builder</h3>
    <div class="workoutplan_container">
        <div class="workoutplan_head">
            <input id="" [(ngModel)]="workoutplan.name" placeholder="Workoutplan Name">
        </div>
        <div class="workoutplan_info">
            <div class="workoutplan_info_elem">Duration: {{workoutplan.duration}}</div>
            <div class="workoutplan_info_elem">
                <div><span>Note:</span></div>
                <input id="" [(ngModel)]="workoutplan.note" placeholder="Workoutplan Note">
            </div>
            <div class="workoutplan_btns">
                <a class="add-button" (click)="addWeek();">
                    Add Week
                </a>
                <a class="add-button" (click)="removeWeek();">
                    Remove Week
                </a>
                <a class="add-button" (click)="updateWorkoutplan();">
                    Save Workoutplan
                </a>
                <a *ngIf="!initial" (click)="goBack()">go back</a>
            </div>
        </div>
            
            
            <div class="workoutplan_body">
                <div class="workoutplan_week_container" *ngFor="let week of workoutplan.weeks; let i = index" style="display: flex;">
                    <div class="workoutplan_week_head">
                        <h3>Week {{i + 1}}</h3>
                        <div *ngIf="week.deload"> - Deload Week</div>
                        <a *ngIf="!week.deload" class="add-button" title="Set Deload Week"
                            (click)="setDeload(week.id, true)">Set as Deload Week
                        </a>
                        <a *ngIf="week.deload" class="add-button" title="Unset Deload Week"
                                (click)="setDeload(week.id, false)">Unset as Deload Week
                        </a>
                    </div>
                    <div class="workouplan_week">
                        <div class="workoutplan_day" *ngFor="let day of week.days">
                            <div class="workoutplan_day_header">Day {{day.day + 1}} - {{day.workout.name}}</div>
                            <div class="workoutplan_day_body">
                                <div class="workoutplan_day_note">
                                    <div>Note: </div><input id="" [(ngModel)]="day.note" placeholder="Note">
                                </div>
                                <div class="workoutplan_day_workout">
                                    <div >Workout:</div>
                                    <select [compareWith]="compareWorkouts" [(ngModel)]="day.workout" id="sel_workout">
                                        <option *ngFor="let workout of workouts" [ngValue]="workout" >{{workout.name}}</option>
                                    </select>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
    </div>
</div>

