input{
    padding:.5rem;
}
button{
    padding: .5rem;
    margin: .5rem 1rem .5rem 0;
    background-color: #005DAE;
    color: white;
    border:1px solid #005DAE;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    font-size: small;
}
button:hover{
    background-color: #00284b;
}
.change_password_element{
    margin-bottom:.5rem;
    display: flex;
}
.change_password_element>div{
    width: 150px;
    display: flex;
}
.change_password_element span{
    margin: auto 0;
}