<h2>About</h2>
<div class="about_container">
    <div class="about_element">
        <div class="about_elem_header">
            Who created this?
        </div>
        <div class="about_elem_body">
            My name is Phil Stranger and I am currently doing my master's degree in Computer Science at the TU Graz focusing on Visual Computing and Data Science.

        </div>
    </div>
    <div class="about_element">
        <div class="about_elem_header">
            What is this?
        </div>
        <div class="about_elem_body">
            This page currently hosts one of my projects which I am toying around with - a workout tracker.
            <br>
            I created this workout tracker due to the workout trackers on the market not fullfilling my needs. 
            My workout tracker allows me to create exercises, workouts and workoutplans and to track workouts and even workoutplans.
            The workoutplans and its tracking handle the automatic weight and rep progression for me to maximize the effect of my workouts. Additionally they automatically adjust the workouts in deload weeks.
            This is what most workout trackers on the market are missing - workoutplans with automatic progression and deloads.
        </div>
    </div>
    <div class="about_element">
        <div class="about_elem_header">
            How does it work?
        </div>
        <div class="about_elem_body">
            The workout tracker is a Node.js application written in Angular and hosted on Heroku. The background is handled by a PHP-API (also hosted on Heroku) which handles the requests to a database (Heroku Postgres) storing all the data needed.
        </div>
    </div>
    <div class="about_element">
        <div class="about_elem_header">
            Application overview:
        </div>
        <div class="about_elem_body">
            <div class="applications_overview_wrapper">
                <div class="applications_overview_elem">
                    <div class="applications_overview_elem_first">Main application</div>
                    <div>Node.js application hosted on Heroku</div>
                </div>
                <div class="applications_overview_elem">
                    <div class="applications_overview_elem_first">API handling the database requests</div>
                    <div>PHP application hosted on Heroku</div>
                </div>
                <div class="applications_overview_elem">
                    <div class="applications_overview_elem_first">Database</div>
                    <div>Postgres database hosted via Heroku (AWS)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="about_element">
        <div class="about_elem_header">
            Additional info:     
        </div>
        <div class="about_elem_body">
            <div>
                <a href="https://devcenter.heroku.com/articles/getting-started-with-php">Heroku PHP Tutorial</a>
            </div>
            <div>
                <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Heroku Node.js Tutorial</a>
            </div>
            <div>
                <a href="https://devcenter.heroku.com/articles/heroku-postgresql#connecting-in-php">Heroku Postgres Tutorial</a>
            </div>
        </div>
    </div>
    <div class="about_element">
        <div class="about_elem_header">
            My links:      
        </div>
        <div class="about_elem_body">
            <div class="about_links">
                <a href="https://www.linkedin.com/in/phillip-stranger-45a33a236" target="_blank">
                    <img width="30" src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" alt="">
                </a>
                <a href="https://github.com/itsthestranger/strangeprojects" target="_blank">
                    <img width="30" src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="">
                </a>
            </div>
            <span>I might share the code for this project on github later on.</span>
        </div>
    </div>
    <!--My name is Phil Stranger and this page currently hosts one of my projects which I am toying around with - a workout tracker.
    <br>
    I created this workout tracker due to the workout trackers on the market not fullfilling my needs. 
    My workout tracker allows me to create exercises, workouts and workoutplans and to track workouts and even workoutplans.
    The workoutplans and its tracking handle the automatic weight and rep progression for me to maximize the effect of my workouts. Additionally they automatically adjust the workouts in deload weeks.
    This is what most workout trackers on the market are missing (for free) - workoutplans with automatic progression and deloads.
    <br>
    The workout tracker is a Node.js application written in Angular and hosted on heroku.com. The background is handled by a php api (also hosted on Heroku) which handles the requests to a database (hosted on AWS) storing all the data needed.
    Overview:
    Main application - Node.js application hosted on heroku.com
    API handling the database requests - PHP application hosted on heroku.com
    Database - Postgresql database hosted on Amazon AWS (via heroku.com)
    <br>
    If there is interest I'm going to create a test account to allow people to see and test the workout tracker.
    <br>
    Currently the workout tracker is not intended for public use, so registering won't work, but if there is enough interest I might allow people to use it :)
    -->
</div>